n8n/fluxo_principal.json
{
  "name": "IARA Chat — Fluxo Principal",
  "nodes": [
    {
      "id": "n01-webhook-evolution",
      "name": "Nó 01 — Webhook In Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "responseMode": "immediately",
        "responseCode": "200",
        "responseData": "allEntries",
        "options": {}
      }
    },
    {
      "id": "n02-validar-hmac",
      "name": "Nó 02 — Validar HMAC e Filtrar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Nó 02: Valida HMAC, filtra mensagens inválidas e verifica ia_ativa + kill_switch\nconst crypto = require('crypto');\n\nconst body = $input.first().json;\nconst headers = body.headers || {};\n\n// --- HMAC validation ---\nconst secret = $env.EVOLUTION_HMAC_SECRET;\nconst sig = headers['x-evolution-signature'] || headers['X-Evolution-Signature'] || '';\nif (secret && sig) {\n  const payload = JSON.stringify(body.body !== undefined ? body.body : body);\n  const expected = 'sha256=' + crypto.createHmac('sha256', secret).update(payload).digest('hex');\n  if (expected !== sig) {\n    throw new Error('HMAC inválido — requisição rejeitada');\n  }\n}\n\n// --- Filtrar fromMe ---\nconst fromMe = body?.data?.key?.fromMe;\nif (fromMe === true) {\n  return [{ json: { action: 'stop', reason: 'fromMe' } }];\n}\n\n// --- Filtrar evento ---\nconst event = body?.event || '';\nif (!['messages.upsert', 'message'].includes(event)) {\n  return [{ json: { action: 'stop', reason: 'eventoIgnorado' } }];\n}\n\n// --- Extrair dados da mensagem ---\nconst msgData = body?.data?.message || {};\nconst remotejid = body?.data?.key?.remoteJid || '';\nconst pushName = body?.data?.pushName || '';\n\nif (!remotejid) {\n  return [{ json: { action: 'stop', reason: 'semRemotejid' } }];\n}\n\nconst conversation =\n  msgData?.conversation ||\n  msgData?.extendedTextMessage?.text ||\n  '';\n\n// --- Detectar mídia ---\nif (!conversation) {\n  const isMedia = !!(msgData?.imageMessage || msgData?.audioMessage || msgData?.videoMessage || msgData?.documentMessage);\n  if (isMedia) {\n    return [{ json: { action: 'media_only', remotejid, pushName } }];\n  }\n  return [{ json: { action: 'stop', reason: 'conteudoVazio' } }];\n}\n\n// --- Verificar kill_switch e ia_ativa via Supabase ---\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst sbHeaders = { apikey: supabaseKey, Authorization: `Bearer ${supabaseKey}` };\n\nconst configRes = await fetch(\n  `${supabaseUrl}/rest/v1/clientes_config?select=kill_switch&limit=1`,\n  { headers: sbHeaders }\n);\nconst configData = await configRes.json();\nif (configData?.[0]?.kill_switch === true) {\n  return [{ json: { action: 'stop', reason: 'killSwitch' } }];\n}\n\nconst leadRes = await fetch(\n  `${supabaseUrl}/rest/v1/leads?select=ia_ativa&remotejid=eq.${encodeURIComponent(remotejid)}&limit=1`,\n  { headers: sbHeaders }\n);\nconst leadData = await leadRes.json();\nconst lead = Array.isArray(leadData) ? leadData[0] : null;\n\n// Lead existe e ia_ativa = FALSE → humano no controle, IARA para\nif (lead && lead.ia_ativa === false) {\n  return [{ json: { action: 'stop', reason: 'iaInativa' } }];\n}\n\n// Lead não existe (null) OU ia_ativa = TRUE → processa\nreturn [{ json: { action: 'process', remotejid, pushName, content: conversation } }];"
      }
    },
    {
      "id": "n03-switch-acao",
      "name": "Nó 03 — Switch Ação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-media",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "media_only",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "media_only"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
                "conditions": [
                  {
                    "id": "cond-process",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "process",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "process"
            }
          ]
        },
        "options": { "fallbackOutput": "none" }
      }
    },
    {
      "id": "n04-resposta-midia",
      "name": "Nó 04 — Resposta Mídia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.remotejid }}\",\n  \"text\": \"Por enquanto entendo só mensagens de texto. Pode me escrever o que você precisa? 😊\"\n}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "n05-persistir-msg-lead",
      "name": "Nó 05 — Persistir Mensagem Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Nó 05: Persistir msg ANTES de chamar Anthropic (regra canônica)\n// 1. UPSERT em leads (cria se novo, atualiza updated_at se existe)\n// 2. INSERT em chat_messages (role=user)\nconst remotejid = $input.first().json.remotejid;\nconst pushName = $input.first().json.pushName;\nconst content = $input.first().json.content;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst h = {\n  apikey: supabaseKey,\n  Authorization: `Bearer ${supabaseKey}`,\n  'Content-Type': 'application/json',\n};\n\n// UPSERT lead\nconst leadRes = await fetch(`${supabaseUrl}/rest/v1/leads`, {\n  method: 'POST',\n  headers: { ...h, Prefer: 'resolution=merge-duplicates' },\n  body: JSON.stringify({ remotejid, nome: pushName || null }),\n});\nif (!leadRes.ok && leadRes.status !== 409) {\n  const err = await leadRes.text();\n  throw new Error(`Falha ao persistir lead (${leadRes.status}): ${err}`);\n}\n\n// INSERT mensagem do lead\nconst msgRes = await fetch(`${supabaseUrl}/rest/v1/chat_messages`, {\n  method: 'POST',\n  headers: h,\n  body: JSON.stringify({ remotejid, role: 'user', content }),\n});\nif (!msgRes.ok) {\n  const err = await msgRes.text();\n  throw new Error(`Falha ao persistir mensagem (${msgRes.status}): ${err}`);\n}\n\nreturn [{ json: { remotejid, pushName, content } }];"
      }
    },
    {
      "id": "n06-load-contexto",
      "name": "Nó 06 — Load History e Perfil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Nó 06: Carrega histórico (últimas 20 msgs) e perfil do lead do Supabase\nconst remotejid = $input.first().json.remotejid;\nconst pushName = $input.first().json.pushName;\nconst content = $input.first().json.content;\n\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst sbHeaders = { apikey: supabaseKey, Authorization: `Bearer ${supabaseKey}` };\n\n// Histórico: últimas 20 msgs em ordem DESC, depois reverter para cronológica\nconst histRes = await fetch(\n  `${supabaseUrl}/rest/v1/chat_messages?remotejid=eq.${encodeURIComponent(remotejid)}&order=created_at.desc&limit=20&select=role,content`,\n  { headers: sbHeaders }\n);\nconst histData = await histRes.json();\nconst history = Array.isArray(histData) ? histData.reverse() : [];\n\n// Perfil do lead\nconst perfilRes = await fetch(\n  `${supabaseUrl}/rest/v1/leads_perfil?remotejid=eq.${encodeURIComponent(remotejid)}&select=objetivo,historico_treino,restricoes,frequencia,turno_preferido&limit=1`,\n  { headers: sbHeaders }\n);\nconst perfilData = await perfilRes.json();\nconst perfil = Array.isArray(perfilData) && perfilData.length > 0 ? perfilData[0] : {};\n\nreturn [{ json: { remotejid, pushName, content, history, perfil } }];"
      }
    },
    {
      "id": "n07-chamar-anthropic",
      "name": "Nó 07 — Chamar Anthropic com Tool Loop",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 380],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Nó 07: Chama Anthropic Sonnet 4.6 com system prompt + 3 tools.\n// Executa loop de tool_use até 5 iterações.\n// Regra: só retorna após stop_reason=end_turn (texto final).\n\nconst fs = require('fs');\n\nconst input = $input.first().json;\nconst remotejid = input.remotejid;\nconst pushName = input.pushName;\nconst content = input.content;\nconst history = input.history || [];\nconst perfil = input.perfil || {};\n\n// --- Carregar system prompt do arquivo ---\nconst promptPath = $env.IARA_SYSTEM_PROMPT_PATH ||\n  '/home/node/greenfield-iara-chat/prompts/system_prompt_iara_v1.txt';\nlet systemPrompt;\ntry {\n  systemPrompt = fs.readFileSync(promptPath, 'utf8');\n} catch (e) {\n  throw new Error(`Não foi possível carregar system prompt: ${promptPath} — ${e.message}`);\n}\n\n// --- Injetar perfil salvo no system prompt ---\nconst camposPerfil = ['objetivo', 'historico_treino', 'restricoes', 'frequencia', 'turno_preferido'];\nconst perfilLines = camposPerfil.filter(c => perfil[c]).map(c => `${c}: ${perfil[c]}`);\nconst fullSystem = perfilLines.length > 0\n  ? systemPrompt + '\\n\\n[PERFIL SALVO DO LEAD]\\n' + perfilLines.join('\\n')\n  : systemPrompt;\n\n// --- Montar array de mensagens a partir do histórico ---\n// chat_messages role: 'user' | 'assistant' | 'system' | 'tool'\n// Anthropic aceita: 'user' | 'assistant'\n// Msgs role='system' e role='tool' do banco são notas internas — não enviar ao LLM\nconst messages = [];\nfor (const msg of history) {\n  if (msg.role === 'user' || msg.role === 'assistant') {\n    messages.push({ role: msg.role, content: msg.content });\n  }\n  // system e tool do banco: skip (são metadados internos do n8n, não do LLM)\n}\n\n// --- Tool definitions (3 tools, sem mais) ---\nconst tools = [\n  {\n    name: 'salvar_perfil',\n    description: 'Salva dados de qualificação do lead conforme aparecem na conversa. Use sempre que o lead mencionar objetivo, histórico, restrição, frequência ou turno preferido. Não pergunte ativamente — só salve quando o dado já apareceu naturalmente.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        objetivo: { type: 'string', description: 'Objetivo principal. Ex: \"emagrecer\", \"ganhar massa\", \"saúde\", \"reabilitação\"' },\n        historico_treino: { type: 'string', description: 'Experiência prévia. Ex: \"nunca treinou\", \"treina há 2 anos\", \"parou faz 6 meses\"' },\n        restricoes: { type: 'string', description: 'Lesões, dores ou restrições médicas mencionadas' },\n        frequencia: { type: 'string', description: 'Frequência desejada. Ex: \"3x por semana\", \"4x\", \"todos os dias\"' },\n        turno_preferido: { type: 'string', description: 'Turno. Ex: \"manhã\", \"tarde\", \"noite\", \"final de tarde\"' }\n      }\n    }\n  },\n  {\n    name: 'agendar_aula_experimental',\n    description: 'Agenda Aula Experimental gratuita após o lead confirmar dia e horário específico. NUNCA invente horário — só agende dentro do funcionamento da academia (Seg-Sex 5h-21h, Sáb 8h-13h, Dom fechado).',\n    input_schema: {\n      type: 'object',\n      properties: {\n        horario_iso: { type: 'string', description: 'Data e hora ISO 8601 com timezone Campo Grande (UTC-4). Ex: \"2026-05-20T18:00:00-04:00\"' },\n        nome_lead: { type: 'string', description: 'Nome do lead conforme ele se apresentou' }\n      },\n      required: ['horario_iso', 'nome_lead']\n    }\n  },\n  {\n    name: 'handoff_humano',\n    description: 'Transfere conversa para atendimento humano via Chatwoot. Use OBRIGATORIAMENTE quando: lead pedir desconto, cancelamento, questão financeira (boleto, reembolso, inadimplência), lead pedir explicitamente para falar com humano, ou surgir situação fora do escopo.',\n    input_schema: {\n      type: 'object',\n      properties: {\n        motivo: {\n          type: 'string',\n          enum: ['desconto', 'cancelamento', 'financeiro', 'pedido_explicito', 'outro'],\n          description: 'Categoria do motivo do handoff'\n        },\n        contexto: { type: 'string', description: 'Resumo de 1-2 frases do que o lead quer' }\n      },\n      required: ['motivo', 'contexto']\n    }\n  }\n];\n\n// --- Variáveis de ambiente ---\nconst anthropicKey = $env.ANTHROPIC_API_KEY;\nconst supabaseUrl = $env.SUPABASE_URL;\nconst supabaseKey = $env.SUPABASE_SERVICE_KEY;\nconst chatwootUrl = $env.CHATWOOT_URL;\nconst chatwootToken = $env.CHATWOOT_API_TOKEN;\nconst chatwootInboxId = $env.CHATWOOT_INBOX_ID;\n\n// --- Executores de tools ---\nasync function executeSalvarPerfil(toolInput) {\n  const payload = { remotejid };\n  const campos = ['objetivo', 'historico_treino', 'restricoes', 'frequencia', 'turno_preferido'];\n  for (const c of campos) {\n    if (toolInput[c] !== undefined) payload[c] = toolInput[c];\n  }\n  const res = await fetch(`${supabaseUrl}/rest/v1/leads_perfil`, {\n    method: 'POST',\n    headers: {\n      apikey: supabaseKey,\n      Authorization: `Bearer ${supabaseKey}`,\n      'Content-Type': 'application/json',\n      Prefer: 'resolution=merge-duplicates',\n    },\n    body: JSON.stringify(payload),\n  });\n  if (!res.ok) {\n    const err = await res.text();\n    throw new Error(`salvar_perfil Supabase error ${res.status}: ${err}`);\n  }\n  return { status: 'ok', campos_atualizados: Object.keys(payload).filter(k => k !== 'remotejid') };\n}\n\nasync function executeAgendarAulaExperimental(toolInput) {\n  const accessToken = $env.GOOGLE_CALENDAR_ACCESS_TOKEN || '';\n  const calendarId = $env.GOOGLE_CALENDAR_ID || 'primary';\n\n  if (!accessToken) {\n    return {\n      status: 'erro_config',\n      mensagem: 'Agenda não configurada. Entre em contato com nossa equipe para confirmar horário.'\n    };\n  }\n\n  const start = new Date(toolInput.horario_iso);\n  const end = new Date(start.getTime() + 60 * 60 * 1000);\n  const event = {\n    summary: `Aula Experimental — ${toolInput.nome_lead}`,\n    description: `Agendado via IARA Chat.\\nLead: ${toolInput.nome_lead}\\nWhatsApp: ${remotejid}`,\n    start: { dateTime: start.toISOString(), timeZone: 'America/Campo_Grande' },\n    end: { dateTime: end.toISOString(), timeZone: 'America/Campo_Grande' },\n  };\n\n  let calRes;\n  try {\n    calRes = await fetch(\n      `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(calendarId)}/events`,\n      {\n        method: 'POST',\n        headers: { Authorization: `Bearer ${accessToken}`, 'Content-Type': 'application/json' },\n        body: JSON.stringify(event),\n      }\n    );\n  } catch (e) {\n    return { status: 'erro_calendar', mensagem: 'Tive problema para acessar a agenda. Vou te conectar com nossa equipe para confirmar o horário.' };\n  }\n\n  if (calRes.status === 409) {\n    return { status: 'ocupado', sugestao_proximo: 'Verifique disponibilidade com a equipe.' };\n  }\n  if (!calRes.ok) {\n    return { status: 'erro_calendar', mensagem: 'Tive problema para acessar a agenda. Vou te conectar com nossa equipe para confirmar o horário.' };\n  }\n\n  const calData = await calRes.json();\n  return { status: 'ok', evento_id: calData.id, horario_confirmado: toolInput.horario_iso };\n}\n\nasync function executeHandoffHumano(toolInput) {\n  const msgLead = 'Vou te conectar com nosso atendimento agora — em instantes alguém vai te responder por aqui. 🤝';\n\n  // 1. Atualiza ia_ativa = FALSE ANTES de criar conversa no Chatwoot\n  await fetch(\n    `${supabaseUrl}/rest/v1/leads?remotejid=eq.${encodeURIComponent(remotejid)}`,\n    {\n      method: 'PATCH',\n      headers: {\n        apikey: supabaseKey,\n        Authorization: `Bearer ${supabaseKey}`,\n        'Content-Type': 'application/json',\n        Prefer: 'return=minimal',\n      },\n      body: JSON.stringify({ ia_ativa: false }),\n    }\n  );\n\n  // 2. Cria/atualiza conversa no Chatwoot\n  let conversaId = 0;\n  if (chatwootUrl && chatwootToken && chatwootInboxId) {\n    try {\n      const phone = remotejid.replace(/@s\\.whatsapp\\.net$|@c\\.us$/g, '');\n      const ctHeaders = { api_access_token: chatwootToken, 'Content-Type': 'application/json' };\n\n      // Cria contato (Chatwoot deduplica pelo identifier)\n      const contactRes = await fetch(`${chatwootUrl}/api/v1/accounts/1/contacts`, {\n        method: 'POST',\n        headers: ctHeaders,\n        body: JSON.stringify({\n          name: pushName || phone,\n          phone_number: `+${phone}`,\n          identifier: remotejid,\n        }),\n      });\n      const contactData = await contactRes.json();\n      const contactId = contactData?.id || contactData?.contact?.id;\n\n      if (contactId) {\n        const convRes = await fetch(`${chatwootUrl}/api/v1/accounts/1/conversations`, {\n          method: 'POST',\n          headers: ctHeaders,\n          body: JSON.stringify({\n            contact_id: contactId,\n            inbox_id: parseInt(chatwootInboxId, 10),\n            additional_attributes: {\n              motivo_handoff: toolInput.motivo,\n              contexto_iara: toolInput.contexto,\n              remotejid,\n            },\n          }),\n        });\n        const convData = await convRes.json();\n        conversaId = convData?.id || 0;\n      }\n    } catch (e) {\n      // Chatwoot falhou, mas ia_ativa já foi marcada FALSE — não lança erro\n      console.error('Chatwoot handoff error:', e.message);\n    }\n  }\n\n  return { status: 'ok', conversa_chatwoot_id: conversaId, mensagem_para_lead: msgLead };\n}\n\n// --- Loop principal Anthropic (até 5 iterações) ---\nconst MAX_ITER = 5;\nconst currentMessages = [...messages];\nlet finalText = '';\n\nfor (let iter = 0; iter < MAX_ITER; iter++) {\n  let res;\n  try {\n    res = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: {\n        'x-api-key': anthropicKey,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: 'claude-sonnet-4-6',\n        max_tokens: 1024,\n        system: fullSystem,\n        messages: currentMessages,\n        tools,\n      }),\n    });\n  } catch (e) {\n    // Retry único após 2s (política da ARQUITETURA.md)\n    await new Promise(r => setTimeout(r, 2000));\n    res = await fetch('https://api.anthropic.com/v1/messages', {\n      method: 'POST',\n      headers: {\n        'x-api-key': anthropicKey,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: 'claude-sonnet-4-6',\n        max_tokens: 1024,\n        system: fullSystem,\n        messages: currentMessages,\n        tools,\n      }),\n    });\n  }\n\n  if (!res.ok) {\n    const errBody = await res.text();\n    throw new Error(`Anthropic API ${res.status}: ${errBody}`);\n  }\n\n  const data = await res.json();\n\n  // Adiciona resposta do assistant ao histórico de turno\n  currentMessages.push({ role: 'assistant', content: data.content });\n\n  if (data.stop_reason === 'end_turn') {\n    finalText = data.content\n      .filter(b => b.type === 'text')\n      .map(b => b.text)\n      .join('');\n    break;\n  }\n\n  if (data.stop_reason === 'tool_use') {\n    const toolUseBlocks = data.content.filter(b => b.type === 'tool_use');\n    const toolResults = [];\n\n    for (const tb of toolUseBlocks) {\n      let result;\n      try {\n        if (tb.name === 'salvar_perfil') {\n          result = await executeSalvarPerfil(tb.input);\n        } else if (tb.name === 'agendar_aula_experimental') {\n          result = await executeAgendarAulaExperimental(tb.input);\n        } else if (tb.name === 'handoff_humano') {\n          result = await executeHandoffHumano(tb.input);\n        } else {\n          result = { status: 'error', mensagem: `Tool desconhecida: ${tb.name}` };\n        }\n      } catch (e) {\n        result = { status: 'error', mensagem: e.message };\n      }\n\n      toolResults.push({\n        type: 'tool_result',\n        tool_use_id: tb.id,\n        content: JSON.stringify(result),\n      });\n    }\n\n    currentMessages.push({ role: 'user', content: toolResults });\n    // Continua o loop para obter a resposta de texto final da IARA\n    continue;\n  }\n}\n\nif (!finalText) {\n  finalText = 'Tive um problema técnico. Pode repetir sua mensagem?';\n}\n\nreturn [{ json: { remotejid, finalText } }];"
      }
    },
    {
      "id": "n08a-persistir-resposta",
      "name": "Nó 08a — Persistir Resposta IARA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/chat_messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"remotejid\": \"{{ $json.remotejid }}\",\n  \"role\": \"assistant\",\n  \"content\": {{ JSON.stringify($json.finalText) }}\n}",
        "options": { "timeout": 10000 }
      }
    },
    {
      "id": "n08b-enviar-evolution",
      "name": "Nó 08b — Enviar Resposta Evolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 380],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.EVOLUTION_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"number\": \"{{ $json.remotejid }}\",\n  \"text\": {{ JSON.stringify($json.finalText) }}\n}",
        "options": {
          "timeout": 15000,
          "retry": {
            "enabled": true,
            "maxRetries": 2,
            "waitBetweenRetries": 2000
          }
        }
      }
    }
  ],
  "connections": {
    "Nó 01 — Webhook In Evolution": {
      "main": [
        [{ "node": "Nó 02 — Validar HMAC e Filtrar", "type": "main", "index": 0 }]
      ]
    },
    "Nó 02 — Validar HMAC e Filtrar": {
      "main": [
        [{ "node": "Nó 03 — Switch Ação", "type": "main", "index": 0 }]
      ]
    },
    "Nó 03 — Switch Ação": {
      "main": [
        [{ "node": "Nó 04 — Resposta Mídia", "type": "main", "index": 0 }],
        [{ "node": "Nó 05 — Persistir Mensagem Lead", "type": "main", "index": 0 }]
      ]
    },
    "Nó 05 — Persistir Mensagem Lead": {
      "main": [
        [{ "node": "Nó 06 — Load History e Perfil", "type": "main", "index": 0 }]
      ]
    },
    "Nó 06 — Load History e Perfil": {
      "main": [
        [{ "node": "Nó 07 — Chamar Anthropic com Tool Loop", "type": "main", "index": 0 }]
      ]
    },
    "Nó 07 — Chamar Anthropic com Tool Loop": {
      "main": [
        [{ "node": "Nó 08a — Persistir Resposta IARA", "type": "main", "index": 0 }]
      ]
    },
    "Nó 08a — Persistir Resposta IARA": {
      "main": [
        [{ "node": "Nó 08b — Enviar Resposta Evolution", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "iara-greenfield-v1-0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "greenfield"
  },
  "id": "iara-fluxo-principal",
  "tags": [
    { "id": "iara", "name": "iara-greenfield" }
  ]
}
